img.baner{
	width: 100%;
	height: 130%;
}
img.cabeza{
	width: 20%;
	height: 20%px;
	margin-top: -2%
}
img.peque{
	width: 20%;
	height: 20%;
}
img.prev{
	height: 200px;
	width: 300px;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.escudo{
	padding-top: 20px;
}
figure.img_der{
	float: right;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
figure.img_izq{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.encabezado{
	height: 16%;		
}
.center{
	display: block;
  margin-left: auto;
  margin-right: auto;
}

*{font-family: 'Roboto', sans-serif;}

.cuerpo{
	margin-top: 10px;
	font-size: 18px;	
}
.cuerpo2{
	margin-top: 10px;
	font-size: 15px;	
}
